<div class="registration-wrapper purple-border mx-auto d-flex flex-column justify-content-center mt-5"
    [formGroup]="form">
    <h1 class="mat-title mx-auto mt-3">Login</h1>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Ime</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Prezime</mat-label>
        <input matInput>
    </mat-form-field>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Telefon</mat-label>
        <input matInput type="tel">
    </mat-form-field> -->
    <mat-form-field appearance="fill">
        <mat-label>Phone number</mat-label>
        <app-telephone-input formControlName="tel" required></app-telephone-input>
        <mat-icon matSuffix>phone</mat-icon>
        <mat-hint>Include area code</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Korisnicko ime</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Lozinka</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field appearance="fill" class="mb-3">
        <mat-label>Potvrdi lozinku</mat-label>
        <input matInput [type]="hideConfirm ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <button mat-raised-button color="primary" class="mb-3" (click)="test()">Prijavite se</button>
</div>