<mat-toolbar color="primary">
    <ng-container>
        <mat-icon class="mr-2 hover-pointer" (click)="goHomePage()">apartment</mat-icon>
        <span class="hover-pointer" (click)="goHomePage()">Moje nekretnine</span>
    </ng-container>

    <span class="spacer"></span>
    <div *ngIf="_authService.isLoggedIn(); else notLogged">
        <button mat-raised-button color="primary" routerLink="/my-adverts" class="mr-2">
            Vaši oglasi
            <mat-icon>
                photo_library
            </mat-icon>
        </button>
        <button mat-raised-button color="primary" routerLink="/profile-edit" class="mr-2">
            Vaš profil
            <mat-icon>
                account_circle
            </mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="_authService.logout()">
            Logout
            <mat-icon>logout</mat-icon>
        </button>
    </div>
    <ng-template #notLogged>
        <button mat-raised-button color="primary" class="login-btn mr-2" routerLink="/login">
            Login
            <mat-icon>person</mat-icon>
        </button>
        <button mat-raised-button color="primary" routerLink="/registration">
            Registracija
            <mat-icon>person_add</mat-icon>
        </button>
    </ng-template>
</mat-toolbar>