<div class="container-fluid user-adverts-wrap mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <button mat-raised-button color="primary" class="mr-2" (click)="createAdvert()">
                Napravi novi oglas
                <mat-icon>
                    post_add
                </mat-icon>
            </button>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <table mat-table [dataSource]="advertData" class="mat-elevation-z8">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Naslov</th>
                    <td mat-cell *matCellDef="let element">{{element.title}}</td>
                </ng-container>
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Cena</th>
                    <td mat-cell *matCellDef="let element">{{element.price | currency:'EUR':'symbol' }}</td>
                </ng-container>
                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef>Napravljen datuma</th>
                    <td mat-cell *matCellDef="let element">{{element.createdAt | date: 'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="expiresAt">
                    <th mat-header-cell *matHeaderCellDef>Isteče datuma</th>
                    <td mat-cell *matCellDef="let element">{{element.expireDate | date: 'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef>Izmeni</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" aria-label="Izmeni oglas">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="additionalInfo">
                    <th mat-header-cell *matHeaderCellDef>Dodatan info</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" aria-label="Dodatne informacije">
                            <mat-icon>plumbing</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="pictures">
                    <th mat-header-cell *matHeaderCellDef>Slike</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" aria-label="Slike oglasa" (click)="openPictures(element)">
                            <mat-icon>photo_library</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef>Obriši</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="warn" aria-label="Obriši oglas" (click)="openDeleteConfirmation(element.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="publish">
                    <th mat-header-cell *matHeaderCellDef>Status oglasa</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-stroked-button color="primary" aria-label="Objavi oglas" (click)="publishAdvert(element)" 
                        *ngIf="!element.published; else alreadyPublished">
                            Objavi oglas
                            <mat-icon>publish</mat-icon>
                        </button>
                        <ng-template #alreadyPublished>
                            Oglas je objavljen
                        </ng-template>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            </table>
        </div>
    </div>
</div>