<div class="adv-wrap">
    <mat-toolbar class="mt-5" color="primary">
        <button mat-mini-fab *ngIf="!isFavorite" aria-label="Put advert as favorite" color="primary"
            ngbTooltip="Zaprati oglas"
            (click)="setFavorite(advertisement)">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-mini-fab *ngIf="isFavorite" aria-label="Put advert as favorite" color="warn"
            ngbTooltip="Odjavi se"
            (click)="removeFavorite(isFavorite)">
            <mat-icon>favorite</mat-icon>
        </button>
        <span class="mr-auto ml-2">{{advertisement.title}}</span>
        <span class="category-crumb">
            Kategorija: {{advertisement?.estate?.subCategory?.category?.title}} >
            {{advertisement?.estate?.subCategory?.title}}
        </span>
    </mat-toolbar>
    <ngb-carousel #carousel [hidden]="pictures.length == 0" class="mt-2 mx-auto" [showNavigationArrows]="false"
        [interval]="0">
        <ng-template ngbSlide *ngFor="let pic of pictures">
            <div class="img-wrapper d-flex justify-content-center">
                <img [src]="pic.pictureBlob | sanitizer" alt="Random first slide">
            </div>
        </ng-template>
    </ngb-carousel>
    <div class="container mat-h3">
        <div class="row justify-content-center mt-1" *ngIf="pictures.length > 0">
            <div class="col-auto">
                <button mat-mini-fab color="primary" aria-label="nazad" (click)="goPreviousPic()">
                    <mat-icon class="ml-2">arrow_back_ios</mat-icon>
                </button>
            </div>
            <div class="col-auto">
                <button mat-mini-fab color="primary" aria-label="napred" (click)="goNextPic()">
                    <mat-icon>arrow_forward_ios</mat-icon>
                </button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-1">
                Cena:
            </div>
            <div class="col-auto">
                <b>{{advertisement?.price | currency:'EUR':'symbol' }}</b>
            </div>
            <div class="col-auto ml-auto">
                <span class="mat-h3">
                    Vlasnik oglasa:
                    <b class="hover-pointer" (click)="openUserInfo()">
                        {{advertisement?.owner?.firstName}} {{advertisement?.owner?.lastName}}
                    </b>
                </span>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-1">
                Veličina:
            </div>
            <div class="col-auto">
                <b>{{advertisement?.estate?.size | number }}&nbsp;&#13217;</b>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-1">
                Lokacija:
            </div>
            <div class="col-auto">
                <b>{{advertisement?.estate?.city?.name}}</b>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <mat-form-field appearance="outline" class="description-form">
                    <mat-label>Opis oglasa</mat-label>
                    <textarea matInput placeholder="Opis" [(ngModel)]="advertisement.description" readonly></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="row utility-container">
            <div *ngFor="let util of utilities" [ngClass]="util.value ? 'true-util' : 'false-util'"
                [ngbTooltip]="util.description"
                class="col-auto d-flex flex-column align-items-center justify-content-center hover-default">
                <b>{{util.utility?.name}}</b>
                <mat-icon class="">{{util.utility?.icon}}</mat-icon>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-icon class="mr-1">question_answer</mat-icon>
                                <b>Komentari i pitanja</b>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-card *ngIf="_authService.isLoggedIn()" class="mb-2">
                            <mat-card-header>
                                <mat-card-title>Novi komentar</mat-card-title>
                                <mat-card-subtitle>Pitajte vlasnika</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <mat-form-field appearance="outline" class="description-form">
                                    <!-- <mat-label>Opis oglasa</mat-label> -->
                                    <textarea matInput placeholder="Vaš komentar ili pitanje"
                                        [(ngModel)]="newCommentTxt"></textarea>
                                </mat-form-field>
                            </mat-card-content>
                            <mat-card-actions>
                                <button mat-flat-button color="primary" (click)="saveComment()"
                                    [disabled]="!newCommentTxt">Potvrdi</button>
                            </mat-card-actions>
                        </mat-card>
                        <mat-card *ngFor="let comment of advertComments" class="mb-2">
                            <span>{{comment.comment}}</span><br><br>
                            <span class="small-font">
                                {{comment.madeBy?.firstName}} {{comment.madeBy?.lastName}} - {{comment.createdAt |
                                date:'medium'}}
                                &nbsp;<span class="owner-comment"
                                    *ngIf="advertisement?.owner?.id == comment.madeBy?.id">vlasnik oglasa</span>
                            </span>
                        </mat-card>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>
<div class="mt-5">&nbsp;</div>