.adv-wrap {
    width: 70%;
    margin:auto;
}

.category-crumb {
    font-size: 14px;
}

ngb-carousel, .img-wrapper{
    width: 1060px;
    height: 400px;
}

ngb-carousel img{
 object-fit: contain;
}

  
ngb-carousel .carousel-inner {
    background-color:rgba(230, 222, 222, 0.9) !important;
}

.description-form {
    width: 100%;
}

.utility-container mat-icon {
    width: 50px;
    height: 50px;
    font-size: 50px;
}

.true-util {
    color: rgb(80, 199, 80);
}

.false-util {
    color: rgb(167, 58, 58);
}

.hover-default:hover {
    cursor:default;
}