<mat-dialog-content>
    <mat-tab-group mat-align-tabs="center" #matTabGroup>
        <mat-tab label="Oglasi koje pratite">
            <table mat-table [dataSource]="favoriteAdverts" class="mt-2">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Naslov</th>
                    <td mat-cell *matCellDef="let element">
                        <b class="hover-pointer" (click)="goToAdvert(element.advertisement.id)">{{element.advertisement?.title}}</b>
                    </td>
                </ng-container>
                <ng-container matColumnDef="expiresAt">
                    <th mat-header-cell *matHeaderCellDef>Datum isteka</th>
                    <td mat-cell *matCellDef="let element">{{element.advertisement?.expireDate | date: 'dd/MM/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef>Obriši</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="warn" aria-label="Obriši oglas" (click)="openDeleteConfirmation(element.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            </table>
        </mat-tab>
        <mat-tab label="Vaši filteri">
            <p class="mt-2">Pomoću zapamćenih filtera možete brzo pretražiti oglase koji vam odgovaraju i 
            dobiti notifikacije kada je kreiran novi oglas koji odgovara vašim filterima.</p>
            <button mat-raised-button class="m-1" (click)="createNewFilter()">Kreiraj novi filter</button>
            <table mat-table [dataSource]="filters" class="mt-2">
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>Kategorija</th>
                    <td mat-cell *matCellDef="let element">
                       {{ element.category.title}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="maxPrice">
                    <th mat-header-cell *matHeaderCellDef>Maksimalna cena</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.maxPrice  | currency:'EUR':'symbol' }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="maxSize">
                    <th mat-header-cell *matHeaderCellDef>Maksimalna veličina</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.maxSize}}<ng-container *ngIf="element.maxSize">&nbsp;&#13217;</ng-container>
                    </td>
                </ng-container>
                <ng-container matColumnDef="goTo">
                    <th mat-header-cell *matHeaderCellDef>Pogledaj</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="primary" aria-label="Obriši oglas" (click)="goToSearch(element)">
                            <mat-icon>keyboard_tab</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="deleteFilter">
                    <th mat-header-cell *matHeaderCellDef>Obriši</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="warn" aria-label="Obriši oglas" (click)="deleteSavedFilter(element.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplayFilters"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplayFilters;"></tr>
            </table>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-raised-button mat-dialog-close tabindex="1">Zatvori</button>
</mat-dialog-actions>